@font-face {
    font-family: 'League'; /* Remplacez 'NomDeLaPolice' par le nom que vous souhaitez donner à votre police */
    src: url('../assets/fonts/LeagueGothic-Regular-VariableFont_wdth.ttf') format('truetype'); /* Remplacez 'chemin/vers/votre/police.ttf' par le chemin réel de votre fichier TTF */
    /* Vous pouvez également spécifier des variantes de police (normal, italic, bold, etc.) si nécessaire */
}

*{
    margin: 0;
}

body {
    height: 100vh;
    background-image: url(../img/Circuit_Primary.svg);
    background-size:cover;
    background-position: center center; /* Aligne l'image sur la gauche horizontalement et au centre verticalement */
    background-repeat: no-repeat;
    color: white;
    font-family: 'League', sans-serif;
}

header{
    display: flex;
    justify-content: space-between;
    padding-top: 2vh;
    padding-left: 1vw;
    padding-right: 2vw;
    font-size: 30px;
}

header > #logo{
    height: 9vh;
    width: auto;
}

header > .links{
    display: flex;
    gap: 3vw;
    align-items: center;
}

.links > a{
    text-decoration: none;
    color: white;
}

#content {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#content > p{
    font-size: 60px;
    font-style: italic;
}

#content > span{
    font-size: 30px;
    font-style: italic;
}