<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Page admin</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="../static/CSS/styles_home.css">
        <!-- CSS -->
        <link href="../static/CSS/admin.css" rel="stylesheet">
        <meta name="robots" content="noindex,follow" />
        <!-- JS -->
        <script src="../static/JS/jquery-3.6.0.js"></script>
        <script src="../static/JS/scripts.js"></script>
        <link rel="icon" href="../static/IMG/logo.png" />
    </head>
    <body>
        {{ html_message }}

        <h1 style="color: white;text-align: center;text-decoration: underline;font-size:48px">Espace administrateur</h1>
        <h1 style="color: white;text-align: center;font-size:32px">Session invalidé au bout de 2h d'inactivité !</h1>
        <form action="/admin" method="post" style="margin: 10px">
            <header class="_header">
                <h3 class="_title">Ajouter un produit</h3>
            </header>

            <div class="_body">
                <!-- attention -->
                <div class="warnTxt">
                    <table>
                        <tbody>
                            <tr class="conteneurImgInHighlight">
                                <th><img src="../static/IMG/warn.png" class="imgInHighLight" align="left"></th>
                                <th>Attention :</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="divInHighlight">
                                        <ul class="listeChevron">
                                            <li>L'utilisation des caractères suivant, dans un des champs, conduiront à une erreur de la requête d'ajout d'un produit : @, ‘, ’</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><br><br>

                <label>Prix du produit : </label>
                <input type="number" placeholder="Prix" name="Prix" step="0.01" min="0.01" required>
                <!-- Remarque -->
                <div class="infoTxt">
                    <table>
                        <tbody>
                            <tr class="conteneurImgInHighlight">
                                <th><img src="../static/IMG/info.png" class="imgInHighLight" align="left"></th>
                                <th>Remarque :</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="divInHighlight">
                                        <ul class="listeChevron">
                                            <li>Renseignez le prix en format américain (ex : mettez "1.20" pour 1,20 €)</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <label>Titre du produit : </label>
                <input type="text" placeholder="Titre" name="Titre" required>
                <br>
                <label>Description du produit : </label>
                <textarea rows="5" placeholder="Description" name="Description" required></textarea>
                <br>
                <label>Images du produit : </label>
                <input type="url" placeholder="Images" name="Images" required>
                <!-- Remarque -->
                <div class="infoTxt">
                    <table>
                        <tbody>
                            <tr class="conteneurImgInHighlight">
                                <th><img src="../static/IMG/info.png" class="imgInHighLight" align="left"></th>
                                <th>Remarque :</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="divInHighlight">
                                        <ul class="listeChevron">
                                            <li>Renseignez les adresses distantes (urls) des images du produit ; elles doivent être séparées par un point virgules (ex : http://url.fr/image1.png;http://url.fr/image2.png;http://url.fr/image3.png)</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div><br>
                <label>Avis sur le produit : </label>
                <input type="number" placeholder="Avis" name="Avis" step="0.01" min="0" max="5" required>
                <!-- Remarque -->
                <div class="infoTxt">
                    <table>
                        <tbody>
                            <tr class="conteneurImgInHighlight">
                                <th><img src="../static/IMG/info.png" class="imgInHighLight" align="left"></th>
                                <th>Remarque :</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="divInHighlight">
                                        <ul class="listeChevron">
                                            <li>Renseignez cette valeur au format américain, entre 0 et 5 (ex : mettez "1.2" pour 1,2/5)</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <label>Date limite de la promo : </label>
                <input type="date" placeholder="Date de promo" name="PromoDate">
                <br>
                <label>Prix de la promo : </label>
                <input type="number" placeholder="Prix de la promo" name="PromoPrice" step="0.01" min="0.01">
                <!-- Remarque -->
                <div class="infoTxt">
                    <table>
                        <tbody>
                            <tr class="conteneurImgInHighlight">
                                <th><img src="../static/IMG/info.png" class="imgInHighLight" align="left"></th>
                                <th>Remarque :</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="divInHighlight">
                                        <ul class="listeChevron">
                                            <li>Ne remplissez rien si vous ne souhaitez pas ajouter de promo à ce produit !</li>
                                            <li>Renseignez le prix en format américain (ex : mettez "1.20" pour 1,20 €)</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <label>Prix de la livraison : </label>
                <input type="number" placeholder="Prix de la livraison" name="DeliveryPrice" step="0.01" min="0.01">
                <!-- Remarque -->
                <div class="infoTxt">
                    <table>
                        <tbody>
                            <tr class="conteneurImgInHighlight">
                                <th><img src="../static/IMG/info.png" class="imgInHighLight" align="left"></th>
                                <th>Remarque :</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="divInHighlight">
                                        <ul class="listeChevron">
                                            <li>Ne remplissez rien si vous ne souhaitez rendre gratuit la livraison du produit !</li>
                                            <li>Renseignez le prix en format américain (ex : mettez "1.20" pour 1,20 €)</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <label>Fiche technique du produit : </label>
                <textarea rows="10" placeholder="Fiche technique" name="TechnicalInfo" required></textarea>
                <!-- Remarque -->
                <div class="infoTxt">
                    <table>
                        <tbody>
                            <tr class="conteneurImgInHighlight">
                                <th><img src="../static/IMG/info.png" class="imgInHighLight" align="left"></th>
                                <th>Remarque :</th>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="divInHighlight">
                                        <ul class="listeChevron">
                                            <li>Chaque caractéristique doit être construite de la manière suivante : clé1;valeur1</li>
                                            <li>Chaques caractéristiques doivent être séparé entre elles par un retour à ligne (ex : clé1;valeur1[retour à la ligne]clé2;valeur2)</li>
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <br>
                <label>Type de produit : </label>
                <input type="text" placeholder="Type de produit" name="Type" required>
                <input type="submit" value="Ajouter ce produit" id="add">
            </div>
        </form>

        <form action="/admin" method="post" style="margin: 10px">
            <header class="_header">
                <h3 class="_title">Supprimer un produit</h3>
            </header>
            <div class="_body">
                <label>Cliquez et séléctionnez un produit : </label>
                <select name="id_prod">
                    {{ html_options_produits }}
                </select>
                <input type="submit" value="Supprimer le produit" id="delete">
            </div>
        </form>
        <a onclick="document.location.href='/logout'" class="deco-btn">Se déconnecter</a>
    </body>
</html>