<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../static/CSS/styles_login.css">
        <link rel="icon" href="../static/IMG/logo.png"/>
        <script src="../static/JS/jquery-3.6.0.js"></script>
        <script src="../static/JS/scripts.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Wesh - Se connecter</title>
    </head>
    <body class="bg align">
        <div class="grid">
            <form action="/login" method="post" class="form login">
              <header class="login__header">
                <h3 class="login__title">Je me connecte</h3>
              </header>
              <div class="login__body">
                <div class="form__field">
                  <input name="email" type="email" placeholder="E-mail" required>
                </div>
                <div class="form__field">
                  <input name="password" type="password" placeholder="Mot de passe" required>
                </div>
                {{ html_message }}
              </div>
              <footer class="login__footer">
                <input type="submit" value="Se connecter">
                <p><span class="icon icon--info">?</span><a style="cursor: pointer;" class="mdp">Mot de passe oublié</a></p>
              </footer>
            </form>
            <p1 class="login__or">OU</p1> 
            <form action="/" method="post" class="form login">
                <header class="login__header">
                  <h3 class="login__title">Je crée mon compte</h3>
                </header>
                <div class="login__body">
                  <div class="form__field">
                    <input type="email" placeholder="E-mail" required>
                  </div>
                  <div class="form__field">
                    <input name="password" type="password" placeholder="Mot de passe" required>
                  </div>
                  <div class="form__field">
                    <input type="password" placeholder="Confirmer le mot de passe" required>
                  </div>
                </div>
                <footer class="login__footer">
                  <input type="submit" value="Créer">
                </footer>
              </form>
          </div>
    </body>
</html>