<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Déconnexion</title>
        <!-- Fonts -->
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet">
        <link rel="stylesheet" href="../static/CSS/styles_home.css">
        <!-- CSS -->
        <link href="../static/CSS/admin.css" rel="stylesheet">
        <meta name="robots" content="noindex,follow" />
    </head>
    <body>
        <h1 style="color: white;text-align: center;text-decoration: underline;font-size:48px">Déconnecté(e)</h1>
        <h1 style="color: white;text-align: center;font-size:32px">Vous êtes à présent déconnecté(e), vous pouvez fermer cette fenêtre.</h1>
    </body>
</html>