html
{
    background-color: rgb(30, 34, 39);
    color: white;
}

header
{
    display: flex;
    justify-content: space-evenly;
}
.body
{
    display: flex;
    justify-content: space-around;
}

.droite
{
    text-align: center;
}

.texte
{
    font-size: 50px;
}

.acces
{
    font-size: 25px;
}