/* Search bar */
#form {
    display: flex;
    justify-content: center;
}

#searchtextbox {
    border-radius: 20px;
    width: 35vw;
    height: 30px;
    border-color: #3b78ff;
    padding-left: 31px;
}