<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/cases.css">
        <script src="../scripts/jquery-3.6.0.js"></script>
        <script src="../scripts/scripts.js"></script>
        <link rel="icon" href="../images/logo.svg">
        <meta name="viewport" content="width=device-witdh, initial-scale=1">
        <title>CV</title>
    </head>
    <header>
        <img src="../images/logo.svg" class="Roy" onclick="javascript:history.back()">
        <a href="../templates/contact.html" class="lien" style="color: white; text-decoration: none;">Me contacter</a>
    </header>
    <body>
        <div class="espacepc"><br></div>
        <div class="titre">
            <img src="../images/img2.webp" class="titre1"/>
            <div class="titre2">
                <h2>Présentation</h2>
            </div>
        </div>
        <h2 class="entete">Mon objectif ? Devenir intégrateur Web !</h2>
        <br>
        <div class="parcours">
            <a href="#" style="color: white; text-decoration: none;">Mon parcours:</a>
            <br><br>
            <div class="liste">
                <li>En 2019, je commence une année de première générale avec spécialités Mathématiques, Physique-Chimie, et SVT, au lycée Saint-Pierre</li><br>
                <li>En mai 2020, en raison du retard accumulé suite au confinement dû au COVID-19, je décide de redoubler mon année de première afin de mieux me préparer aux métiers du numérique</li><br>
                <li>En juin 2020, j'obtiens le Cambridge B2 First (<a href="https://www.cambridgeenglish.org/fr/exams-and-tests/first/" style="text-decoration: underline;" target="_blank">voir ici les caractéristiques du diplôme</a>)</li><br>
                <li>En septembre 2020, j'intègre le lycée Lalande, et démarre une année de première générale avec spécialités Mathématiques, NSI, et Littérature Langue et Culture Étrangère anglais</li><br>
                <li>En septembre 2021, suite à une année de redoublement réussie, je commence mon année de terminale générale avec Mathématiques et NSI comme spécialités</li><br>
            </div>
        </div><br>
        <div class="competences">
            <a href="#" style="color: white; text-decoration: none;">Mes compétences:</a>
            <br><br>
                <div class="liste1">
                    <li><span>Html</span>
                        <div class="progress">
                            <div class="value" style="width: 80%;">
                                80%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>CSS3</span>
                        <div class="progress">
                            <div class="value" style="width: 70%;">
                                70%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>Python</span>
                        <div class="progress">
                            <div class="value" style="width: 50%;">
                                50%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>JavaScript & jQuery</span>
                        <div class="progress">
                            <div class="value" style="width: 50%;">
                                50%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>PHP</span>
                        <div class="progress">
                            <div class="value" style="width: 30%;">
                                30%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>SQL</span>
                        <div class="progress">
                            <div class="value" style="width: 40%;">
                                40%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>GIT & Github</span>
                        <div class="progress">
                            <div class="value" style="width: 60%;">
                                60%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>VS Code</span>
                        <div class="progress">
                            <div class="value" style="width: 90%;">
                                90%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>Figma</span>
                        <div class="progress">
                            <div class="value" style="width: 100%;">
                                100%
                            </div>
                        </div>
                    </li>
                    <br>
                    <li><span>GIMP</span>
                        <div class="progress">
                            <div class="value" style="width: 70%;">
                                70%
                            </div>
                        </div>
                    </li>
                </div>
        </div><br>
        <div class="etudes">
            <a href="#" style="color: white; text-decoration: none;">Mon projet d'études:</a>
            <br><br>
            <div class="liste3">
                Afin de devenir intégrateur web, je souhaiterai intégrer un I.U.T proposant un B.U.T MMI (Multimédia et Métiers de l'Internet), ou proposant un B.U.T Informatique. J'envisage également d'intégrer une licence mention Informatique en université.
            </div>
        </div>
        <div class="espacemobile"><br></div>
        <a href="../templates/contact.html" class="lien2" style="color: white; text-decoration: none;">Me contacter</a>
        <br>
        <a href="javascript:history.back()" class="lien3" style="color: white; text-decoration: none">
            Revenir à la page précédente
        </a>
        <div class="espacemobile"><br><br></div>
    </body>
</html>