<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/cases.css"/>
        <script src="../scripts/jquery-3.6.0.js"></script>
        <script src="../scripts/scripts.js"></script>
        <link rel="icon" href="../images/logo.svg">
        <meta name="viewport" content="width=device-witdh, initial-scale=1">
        <title>Infos du site</title>
    </head>
    <header>
        <img src="../images/logo.svg" class="Roy" onclick="javascript:history.back()">
        <a href="../templates/contact.html" class="lien" style="color: white; text-decoration: none;">Me contacter</a>
    </header>
    <body>
        <div class="espacepc"><br></div>
        <div class="titre" class="titre">
            <img src="../images/img4.webp" class="titre1"/>
            <div class="titre2">
                <h2>Fonctionnement du site</h2>
            </div>
        </div>
        <h2 class="entete">Informations sur mon site</h2>
        <h4 class="protip">Protip: pour un affichage optimal, il est recommandé de visualiser le site avec un ordinateur</h4>
        <p class="p1">
            Bienvenue sur mon portfolio en ligne !
            <br><br>
            Dans cette partie, vous allez découvrir les coulisses de mon site. Étant seulement au lycée en classe de terminale, 
            je n’ai aucune expérience professionnelle en développement Web. Mais considérez que ce que vous avez sous les yeux 
            est un exemple de mes capacités, capacités que j’ai acquises en autodidacte, notamment grâce au site Openclassrooms. 
            J’ai développé ce site avec les langages HTML, CSS, et JavaScript (jQuery), en utilisant Visual Studio Code sous Mac 
            OS X. Le site contient différentes parties: une partie contenant mon CV, une autre présentant mes projets, et une partie 
            comportant les documents annexes téléchargeables (diplômes, attestation de stage…). J'ai également developpé mon site en 
            responsive design, c'est-à-dire qu'il comporte une version adapté pour les smartphones. A tout moment vous pouvez me contacter
            via le lien "<a href="../templates/contact.html" class="lienspecial">Me contacter</a>"
            <br><br>Bonne découverte !
        </p>
        <br>
        <p class="arborescence">
            Voici l'arborescence de mon site:
            <br><br>
        </p>
        <div class="imarb">
        <img src="../images/arbr.png" class="imagearb">   
        </div>
        <div class="espacemobile"><br></div>
        <a href="../templates/contact.html" class="lien2" style="color: white; text-decoration: none;">Me contacter</a>
        <br>
        <div class="espacemobile"><br></div>
        <a href="javascript:history.back()" class="lien3" style="color: white; text-decoration: none">
            Revenir à la page précédente
        </a>
        <div class="espacemobile"><br><br></div>
    </body>
</html>