<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="../styles/cases.css"/>
        <script src="../scripts/jquery-3.6.0.js"></script>
        <link rel="icon" href="../images/logo.svg">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Annexes</title>
    </head>
    <header>
      <img src="../images/logo.svg" class="Roy" onclick="javascript:history.back()">
        <a href="../templates/contact.html" class="lien" style="color: white; text-decoration: none;">Me contacter</a>
    </header>
    <body>
        <div class="espacepc"><br></div>
        <div class="titre">
            <img src="../images/img5.webp" class="titre1"/>
            <div class="titre2">
                <h2>Fichiers Annexes</h2>
            </div>
        </div>
        <h2 class="entete">Téléchargement des fichiers annexes</h2>
        <h4 class="protip">Protip: passez la souris dans un coin des images de diplômes pour obtenir leur nom ;)</h4>
        <div class="page">
            <div class="contenu">
              <div class="emplacement">
                  <img src="../images/KET.webp" class="imagediplome"/>
                  <div class="text">Key English Test</div>
              </div>
              <div class="boutons">
                <button class="dl bouton"><a class="dllink" href="../images/KET.webp" download>Télécharger</a></button>
              </div>
            </div>
            <div class="contenu">
              <div class="emplacement">
                  <img src="../images/PET.webp" class="imagediplome"/>
                  <div class="text">Preliminary English Test</div>
              </div>
              <div class="boutons">
                <button class="dl bouton"><a class="dllink" href="../images/PET.webp" download>Télécharger</a></button>
              </div>
            </div>
            <div class="contenu">
              <div class="emplacement">
                  <img src="../images/First.webp" class="imagediplome"/>
                  <div class="text">B2 First</div>
              </div>
              <div class="boutons">
                <button class="dl bouton"><a class="dllink" href="../images/First.webp" download>Télécharger</a></button>
              </div>
            </div>
          </div>
        <div class="espacemobile"><br></div>
        <a href="../templates/contact.html" class="lien2" style="color: white; text-decoration: none;">Me contacter</a>
        <br>
        <a href="javascript:history.back()" class="lien3" style="color: white; text-decoration: none">
            Revenir à la page précédente
        </a>
        <div class="espacemobile"><br><br></div>
    </body>
</html>