<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../styles/download.css">
    <link rel="stylesheet" href="../styles/cases.css">
    <title>Téléchargements</title>
</head>
<header>
    <img src="../images/logo.svg" class="Roy" onclick="javascript:history.back()">
    <a href="../templates/contact.html" class="lien" style="color: white; text-decoration: none;">Me contacter</a>
</header>
<body>
    <div id="espacemobile"><br><br></div>
    <div>Téléchargements</div>
    <br>
    <div class="liens"><a href="../softwares/download/Palindromic.zip" download>Télécharger Palindromic - RC Version/Updated 25/06/2022</a></div>
</body>
</html>