<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/navigation.css"/>
        <link rel="icon" href="../images/logo.svg">
        <meta name="viewport" content="initial-scale=1">
        <title>Portfolio Jules ROY</title>
    </head>
    <header>
        <img src="../images/logo.svg" id="Roy" onclick="javascript:history.back()">
        <div id="liens">
            <a href="../templates/case1.html" style="color: white; text-decoration: none;">Infos</a>
            &nbsp;&nbsp;
            <a href="../templates/version.html" style="color: white; text-decoration: none;">Version</a>
            &nbsp;&nbsp;
            <a href="../templates/contact.html" id="liencontact" style="color: white; text-decoration: none;">Me contacter</a>
        </div>
    </header>
    <div id="espacepc"><br></div>
    <body>
        <div class="titre" id="titre">
            <img src="../images/img1.webp" id="titre1"/>
            <div class="titre2">
                <h2>Portfolio Jules ROY</h2>
            </div>
        </div>
        <div id="espacemobile"><br></div>
        <h2>Bienvenue</h2>
        <div id="espacemobile"><br><br></div>
        <div id="cases">
            <div class="case1" value="Présentation rapide du site" onclick="window.location.href = '../templates/case2.html';"><img src="../images/bb.svg" title="Tutoriel" class="imgcase"/><br><br>
                Mon CV
            </div>
            <div id="espacemobile"><br><br><br></div>
            <div class="case1" value="Présentation rapide du site" onclick="window.location.href = '../templates/projets.html';"><img src="../images/ee.svg" title="Tutoriel" class="imgcase"/><br><br>
                Mes projets
            </div>
            <div id="espacemobile"><br><br><br></div>
            <div class="case1" value="Présentation rapide du site" onclick="window.location.href = '../templates/case3.html';"><img src="../images/aa.svg" title="Tutoriel" class="imgcase"/><br><br>
                Fichiers Annexes
            </div>
        </div>
        <br>
    <footer>
        <a href="../templates/version.html" style="color: white; text-decoration: none;" id="lienversionmobile">Version</a>
        <div id="espacemobile"><br><br></div>
        <a href="../templates/contact.html" id="liencontactmobile" style="color: white; text-decoration: none;">Me contacter</a>
        <div id="espacemobile"><br><br></div>
        <a href="../templates/case1.html" style="color: white; text-decoration: none;">Infos</a>
        <div id="espacemobile"><br><br></div>
    </footer>
    </body>
</html>