<!DOCTYPE html>
<html langue="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/cases.css"/>
        <script src="../scripts/jquery-3.6.0.js"></script>
        <script src="../scripts/scripts.js"></script>
        <link rel="icon" href="../images/logo.svg">
        <meta name="viewport" content="width=device-witdh, initial-scale=1">
        <title>Projets</title>
    </head>
    <header>
        <img src="../images/logo.svg" class="Roy" onclick="javascript:history.back()">
        <a href="../templates/contact.html" class="lien" style="color: white; text-decoration: none;">Me contacter</a>
    </header>
    <body>
        <div class="espacepc"><br></div>
        <div class="titre" class="titre">
            <img src="../images/projets.webp" class="titre1"/>
            <div class="titre2">
                <h2 style="color: black;">Projets</h2>
            </div>
        </div>
        <h2 class="entete">Mes projets</h2>
        <h4 class="protip">Mes projets réalisés durant les deux dernières années</h4>
        <h2 class="entete">Terminés</h2>
        <div class="conteneurprojets">
            <div class="projet">
                <img src="../images/cv.webp" alt="CV The Weeknd" class="image">
                <div class="nomprojet" onclick="window.location.href = '../projets/Cvstar/cv.html';">CV The Weeknd</div>
            </div>
            <div class="espacemobile"><br></div>
            <div class="projet">
                <img src="../images/cours.webp" alt="Cours" class="image">
                <div class="nomprojet" onclick="window.location.href = '../projets/Cours/Cours.html';">Extrait Cours NSI</div>
            </div>
            <div class="espacemobile"><br></div>
            <div class="projet">
                <img src="../images/calc.webp" alt="Calculatrice" class="image">
                <div class="nomprojet" onclick="window.location.href = 'https://jrcalculator.alwaysdata.net/';">Calculatrice</div>
            </div>
            <div class="espacemobile"><br></div>
            <div class="projet">
                <img src="../images/wsh.webp" alt="Site e-commerce Wesh" class="image">
                <div class="nomprojet" onclick="window.location.href = '../projets/wesh/templates/home.html';">Site e-commerce</div>
            </div>
        </div>
        <h2 class="entete">En Développement</h2>
        <div class="conteneurprojets">
            <div class="projet">
                <img src="../images/gfm.webp" alt="FIFA Mobile Guide" class="image">
                <div class="nomprojet" onclick="window.location.href = '';">FIFA Mobile Guide</div>
            </div>
            <div class="espacemobile"><br></div>
            <div class="projet">
                <img src="../images/4times.webp" alt="4Times!" class="image">
                <div class="nomprojet" onclick="window.location.href = '';">4Times!</div>
            </div>
        </div>
        <div class="espacemobile"><br></div>
        <a href="../templates/contact.html" class="lien2" style="color: white; text-decoration: none;">Me contacter</a>
        <br>
        <div class="espacemobile"><br></div>
        <a href="javascript:history.back()" class="lien3" style="color: white; text-decoration: none">
            Revenir à la page précédente
        </a>
        <div class="espacemobile"><br><br></div>
    </body>
</html>