<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="../styles/version.css"/>
        <link rel="icon" href="../images/logo.svg">
        <meta name="viewport" content="width=device-witdh, initial-scale=1">
        <title>Version</title>
    </head>
    <header>
        <img src="../images/logo.svg" id="Roy" onclick="javascript:history.back()">
        <a href="../templates/contact.html" id="lien" style="color: white; text-decoration: none;">Me contacter</a>
    </header>
    <br>
    <body>
        <img src="../logos/ROYJULES.png" id="image">
        <br><br>
        <h2>Quoi de neuf ?</h2>
        <div id="release"><br>
            <div id="release1">
                <section id="titre">
                    12 Juin 2022, version 1.1
                </section><br>
                <section id="descriptif">
                    Nouvelle page pour la présentation des projets, correction de bugs d'affichage sur smartphone, màj du contenu
                </section>
            </div><br>
        </div><br><br>
        <h2>À venir</h2>
        <div id="bientot"><br>
            <div id="bientot1">
                <section id="titre">
                    Bientôt
                </section><br>
                <div id="descriptif">
                    Mise à jour occasionnelle du contenu
                </div>
            </div><br>
        </div><br><br>
        <h2>Historique</h2>
        <div id="avant"><br>
            <div id="avant1">
                <section id="titre">
                    9 Mars 2022, version 1.0
                </section><br>
                <section id="descriptif">
                    Développement terminé ! &#129395; Le site a atteint les objectifs originellements fixés. Désormais ce site, qui est de loin mon plus gros projet en solo jamais réalisé, sera amélioré, et s'étoffera en contenu peu à peu. Vous pouvez actuellement visualiser le site sous tous types de plateformes, et télécharger les fichiers annexes grâce au bouton "Télécharger"
                </section>
            </div><br>
            <div id="avant1">
                <section id="titre">
                    1 Mars 2022, version 0.4
                </section><br>
                <section id="descriptif">
                    Corrections sur certains fichiers CSS et Javascript (assemblage), amélioration du temps de chargement du site. Prochaine étape: corriger le bug qui empêche de visualiser et de télécharger les documents annexes. Version 1.O dans le mois
                </section>
            </div><br>
            <div id="avant1">
                <section id="titre">
                    2 Février 2022, version 0.3
                </section><br>
                <section id="descriptif">
                    Adaptation entière du site en responsive design, changement de la police d'écriture, ouverture de la page des fichiers annexes (non fonctionnelle pour le moment)
                </section>
            </div><br>
            <div id="avant1">
                <section id="titre">
                    23 Janvier 2022, version 0.2
                </section><br>
                <section id="descriptif">
                    Correction d'un bug pour les liens des projets, correction d'un bug d'affichage de l'image d'accueil pour les grands écrans
                </section>
            </div><br>
            <div id="avant1">
                <section id="titre">
                    20 Janvier 2022, version 0.1.2
                </section><br>
                <section id="descriptif">
                    Corrections de bugs d'affichage, seconde version en responsive pour navigation, contacter, et case1
                </section>
            </div><br>
            <div id="avant1">
                <section id="titre">
                    16 Janvier 2022, version 0.1.1
                </section><br>
                <section id="descriptif">
                    Corrections de bugs d'affichage, première version en responsive pour index, navigation, contacter, et version
                </section>
            </div><br>
            <div id="avant1">
                <section id="titre">
                    8 Janvier 2022, version 0.1
                </section><br>
                <section id="descriptif">
                    Lancement de mon portfolio en ligne
                </section>
            </div><br>
        </div>
        <div class="espacemobile"><br></div>
        <a href="../templates/contact.html" class="lien2" style="color: white; text-decoration: none;">Me contacter</a>
        <br>
        <div class="espacemobile"><br></div>
        <a href="javascript:history.back()" class="lien3" style="color: white; text-decoration: none">
            Revenir à la page précédente
        </a>
        <div class="espacemobile"><br><br></div>
    </body>