@font-face 
{
    font-family: 'orbitronregular';
    src: url('../fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'verdana';
    src: url('../fonts/verdana.woff2') format('woff2'),
         url('../fonts/verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html 
{
    font-family: 'verdana';
    background-color: #151515;
    color: white;
    text-align: justify;
    text-align: center;
}

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

body
{
    margin-left: 0px;
    margin-right: 0px;
}

.Roy /* logo JR */
{
    width: 6vw;
    height: auto;
    top: 0.5cm;
    left: 0.5cm;
}

.titre
{
    position: relative;
}

.titre1 /* taille de l'image de fond de titre */
{
    width: 100vw;
    height: auto;
}

.titre2 /* texte sur l'image */
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16pt;
    text-align: start;
}

/* partie case 1*/
a /*couleur lien "Me contacter" de base*/
{
    color: white;
    text-decoration: none;
}

p
{
    text-align: justify;
    margin: 20px;
}

.contact:hover /*style lien "Me contacter" dans texte au survol*/
{
    text-decoration: underline;
}

.imarb
{
    display: flex;
    justify-content: center;
}

.lien2
{
    display: none;
}

.lien3
{
    display: none;
}

/*partie case 2*/
.parcours /* détails liste parcours */
{
    text-align: left;
    margin-left: 0.5cm;
    font-size: 17pt;
}

.liste /* décalage de la liste par rapport au titre de la liste */
{
    margin-left: 1cm;
}

.progress
{
    background-color: lightgray;
    width: 40vw;
}

.value
{
    background-color: blue;
    padding: 5px;
}

.competences /* détails liste compétences */
{
    text-align: left;
    margin-left: 0.5cm;
    font-size: 17pt;
}

.liste1 /* décalage de la liste par rapport au titre de la liste */
{
    margin-left: 1cm;
}

.etudes /* détails liste etudes */
{
    text-align: left;
    margin-left: 0.5cm;
    font-size: 17pt;
}

.liste3 /* décalage de la liste par rapport au titre de la liste */
{
    margin-left: 1cm;
}

.liencontact2
{
    display: none;
}

.lien3
{
    display: none;
}

/*partie projets*/
.conteneurprojets
{
    display: flex;
    justify-content: space-evenly;
}

.projet
{
    position: relative;
    border: 2px solid #353434;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    width: 20vw;
}


.image
{
    width: 100%;
    height: auto;
}

/*style nom projet */

.nomprojet {
    padding-left: 16px;
    padding-right: 16px;
    background: none;
    font-size: 17px;
    cursor: pointer;
    position: relative;
    transition: color 0.3s ease-in-out;
    overflow: hidden;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .nomprojet::before {
    content: "";
    position: absolute;
    width: 0;
    height: 100%;
    background-color: white;
    top: 0;
    left: 0;
    transition: width 0.3s ease-in-out;
    z-index: -1;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .nomprojet:hover::before {
    width: 100%;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }
  
  .nomprojet:hover {
    color: black;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
  }

/*partie case 3*/
.entete
{
    text-align: center;
}

.protip
{
    text-align: center;
}

.page
{
    display: flex;
    justify-content: space-evenly;
}

.emplacement
{
    position: relative;
}

.imagediplome
{
    height: 35vh;
    width: auto;
}
.text
{
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
}

.emplacement:hover .text {
    opacity: 1;
    transition-duration: 1.5s;
}

.emplacement:hover .imagediplome
{
    filter: blur(5px);
    transition-duration: 1.5s;
}

.boutons
{
    display: flex;
    justify-content: center;
}
.bouton
{
    width: 60%;
    height: auto;
    background-color:white;
    color:black;
    border:white;
    border-radius: 5px;
    font-family: 'verdana';
}

.dllink
{
  text-decoration: none;
  color: black;
}

/*toutes parties*/
.espacepc
{
    display: inline;
}

.espacemobile
{
    display: none;
}

@media screen and (min-width:200px) and (max-width:1280px) /* affichage pour smartphones et tablettes */
{

    header
    {
        display: none;
    }

    body
    {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .titre2
    {
        text-align: center;
        font-size: 12pt;
    }

    /*partie infos*/
    .imagearb
    {
        height: auto;
        width: 95vw;
    }

    .lien2
    {
    display: inline;
    }

    /*partie case 2*/
    .liencontact2
    {
        display: inline;
    }

    /*partie projets*/
    .conteneurprojets
    {
    display: flex;
    flex-direction: column;
    align-items: center;
    }

    .projet
    {
        height: auto;
        width: 70vw;
    }

    .nomprojet
    {
        font-size: 14px;
    }

    /*partie case 3*/
    .page
    {
        align-items: center;
        flex-direction: column;
    }

    .imagediplome
    {
        height: 45vh;
        width: auto;
    }

    .liencontact2
    {
        display: inline;
    }

    /*toutes parties*/
    .lien3
    {
        display: inline;
    }
    .espacemobile
    {
        display: inline;
    }

    .espacepc
    {
        display: none;
    }
}