@font-face 
{
    font-family: 'orbitronregular';
    src: url('../fonts/orbitron-variablefont_wght-webfont.woff2') format('woff2'),
         url('../fonts/orbitron-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face 
{
    font-family: 'verdana';
    src: url('../fonts/verdana.woff2') format('woff2'),
         url('../fonts/verdana.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html 
{
    font-family: 'verdana';
    background-color: #151515;
    color: white;
    text-align: center;
}

#espacepc
{
    display: inline;
}


header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 0.5cm;
    margin-right: 0.5cm;
}

body /* évite les espaces entre bords et image !Ne pas supprimer! */
{
    margin-left: 0px;
    margin-right: 0px;
}

#Roy /* logo JR */
{
    width: 6vw;
    height: auto;
    top: 0.5cm;
    left: 0.5cm;
}

.titre
{
    position: relative;
}

#titre1 /* taille de l'image de fond de titre */
{
    width: 100%;
    height: auto;
}

.titre2 /* texte sur l'image */
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16pt;
    text-align: center;
}

#cases
{
    display: flex;
    justify-content: space-around;
}

.case1 {
    font-family: 'verdana';
    padding: 16px 48px;
    background-color: white;
    border: 2px solid white;
    border-radius: 10px;
    color: black;
    font-size: 22px;
    cursor: pointer;
    position: relative;
    transition: all 0.3s;
    width: 25vw;
    height: auto;
  }
  
.case1::before,
.case1::after {
    --offset: 2px;
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    transition: all 0.3s;
    opacity: 0;
  }
  
.case1::before {
    border-top: 2px solid rgb(71, 69, 69);
    border-left: 2px solid rgb(71, 69, 69);
    top: var(--offset);
    left: var(--offset);
  }
  
.case1::after {
    border-bottom: 2px solid rgb(71, 69, 69);
    border-right: 2px solid rgb(71, 69, 69);
    bottom: var(--offset);
    right: var(--offset);
  }
  
.case1:hover {
    background-color: rgb(71, 69, 69);
    border-color: rgb(131, 128, 128);
    color: black;
    transition-delay: 0.3s;
    border-radius: 10px;
  }
  
.case1:hover::before,
.case1:hover::after {
    width: calc(100% - 6px);
    height: calc(100% - 6px);
    opacity: 1;
  }

#tutoriel /*taille image tutoriel (case1) */ 
{
    height: auto;
    width: 40%;
}

.imgcase
{
    height: auto;
    width: 40%;
}

#annexes
{
    height: auto;
    width: 40%;
}

#espacemobile
{
    display: none;
}

footer
{
    display: none;
}

@media screen and (max-width:599px){ /* affichage pour smartphones */

    header
    {
        display: none;
    }

    #espacepc
    {
        display: none;
    }


    body
    {
        margin-top: 0px;
        margin-left: 0px;
        margin-right: 0px;
    }

    .titre2
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 12pt;
    }

    #cases
    {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    
    .case1 
    {
        border: 0.5px solid white;
        background-color: white;
        border-radius: 10px;
        height: 40%;
        width: 50%;
        text-align: center;
        color: black;
        text-decoration: none;
        font-size: 18px;
    }

    .imgcase
    {
        height: auto;
        width: 45%;
    }

    footer
    {
        display: inline;
    }

    #espacemobile
    {
        display: inline;
    }
}